.animate-on-hover {
  transition: 0.5s ease;
}

.animate-on-hover:hover {
     padding: 5%;
     transform: translateX(20px);
}


.hero-container {
  background-color: #f8f9fa;
  padding: 100px 0;
  background-color:rgb(255, 255, 255);
border-radius: 30px;
}

.text {
  color: #484848;
}

.image-container {
  border-radius: 30px;
  overflow: hidden;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.animate-on-hover:hover {
  transform: translateY(-5px);
}

.custom-btn {
  transition: background-color 0.3s, transform 0.3s;
}

.custom-btn:hover {
  background-color: #0069d9;
  transform: scale(1.05);
}

