#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* background-color: rgb(226, 212, 212); */
}

*{
  color: rgb(24, 24, 24);
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}

.logo{
  /* height: 30px; */
  width: 100px; 
  /* clip-path: circle(110% at center); */
  border-radius: 10px;
  border: 1px solid grey;
  /* align-items:stretch; */
  /* text-align: center; */
  position :absolute; 
  top: 10%;
  left: 15%; 
}

.logo img{
  margin: 9% 0%;
  width: 30%;
}

.logo:hover{
  transition: 0.5s;
  border: 1px solid #0011fc;
  /* padding: 0.8em 1.4em; */
}

.welcome{
  border: 1px solid #000000;
  transition: 0.5s;
}

.welcome:hover{
  /* box-shadow: 0px 0px 4px 4px slateblue; */
  padding: 10%;
  /* animation: glow 0.5s ease-in-out forwards ; */
}

.button{
  position :absolute;
  /* padding: 30px; */
  top: 10%;
  right: 15%;
}

.button button{
  /* gap: 20px; */
  padding: auto;
}

.forflex{
  margin-right: 50%;
  /* border: 1px solid black; */
  display: flex;
  /* gap: 30%; */
  max-height: fit-content;
}

.forflex .hero{
  /* margin-right: 50%; */
  border: 1px solid black;
  /* display: flex; */
  /* gap: 30%; */
  /* max-height: fit-content; */
}

.forflex .hero .text{
  align-items: center;
  margin: 18% 8% 0% 5%;
}

.forflex .image{
  border: 1px solid black;
  margin-left: 5%;
  padding: auto;
}

.forflex .image img{
  width: 400px;
  border: 1px solid black;
  padding: auto;
  /* margin: 10px 20px; */
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@keyframes glow {
  from {
    text-shadow: 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff;
  }

  to {
    text-shadow: 0 0 1px #0011fc;
  }
}
